body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  color: #444346;
}

.wrapper_header {
  color: #58575b;
}

.lists {
  &_bloc {
    &_username {
      color: #58575b;
    }
    &_todo-completed {
      text-decoration: line-through;
      font-style: italic;
      color: #58575b;
    }
  }
}
