.wrapper--form {
  height: 100vh;
  background-repeat: repeat-x;
  background-image: url("../../images/ribbon.png");
  background-position: bottom;
}

.form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-top: 30px;
  padding: 60px;
  background-color: white;
  border: $color-secondary solid 2px;
  overflow: hidden;
  position: relative;

  &__avatar {
    width: 30px;
    height: 30px;
    &__button {
      width: 20px;
      height: 20px;
      margin: -12px 0 0 15px;
    }
  }
  &__input {
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    border: solid 1px $color-tertiary;
    &:focus {
      border: black;
    }
  }
  &__button {
    margin: 10px 0;
    height: 40px;
    background-color: transparent;
    border: solid 2px black;
    &:hover {
      cursor: pointer;
      border: solid 3px black;
      font-size: 15px;
    }
  }
  &__link {
    text-decoration: underline;
  }

  &__verso {
    padding: 60px;
    height: 600px;
    width: 100%;
    left: 0;
    top: 600px;
    position: absolute;
    background-color: $color-secondary;
    &__title {
      margin-bottom: 40px;
    }
  }
}
