/* ----- fonts declaration ----- */
@font-face {
  font-family: "Fraunces";
  src: url("../../fonts/Fraunces.ttf") format("truetype");
}

/* ----- base ----- */
body {
  font-family: "Fraunces", moret, serif;
}

/* ----- navbar ----- */
.navbar {
  font-family: "Fraunces", moret, serif;
  color: $color-secondary;
}

/* ----- home ----- */
.home{
  &__item-number {
    font-size: 6rem;
    font-size: clamp(2.5rem, 9vw, 6.5rem);
    color: var(--color-home-number);
  }
  
  &__item-title {
    font-size: 4rem;
    font-size: clamp(2rem, 5vw, 4rem);
    color: var(--color-home-title);
  }

  &__item-number,
  &__item-title,
  &__text {
    font-family: moret, serif;
    font-weight: 800;
    font-style: italic;
  }

  &__text {
    font-family: "Fraunces", moret, serif;
    font-size: 18vw;
    line-height: 0.8;
    color: $color-tertiary;
  }

  &__text-inner {
    &--small {
      font-size: 10vh;
    }
    &--small-link {
      font-size: 12vh;
      color: $color-secondary;
      text-decoration: underline;
    }
  }
}

/* ----- sign up ----- */
.form {
  &__error {
    color: $color-primary-dark;
  }
  &__link {
    color: $color-secondary;
  }
  &__verso {
    color: white;
  }
}


/* ----- list ----- */
.list {
	&__add {
		font-size: 20px;		  }
  &__todo {
		&__infos {
      font-size: 19px;
      &__title {
        font-size: 22px;
        font-weight: bold;
      }
      &__buy{
        font-weight: bold;
        color: $color-primary;
      }
			&__link{
        color: white;
        text-decoration: underline;
			}
		}
  }
}