.gallery {
  display: flex;
  margin-left: 12vw;
  padding-top: 4vw;
  padding-right: 12vw;
}

.gallery__item {
  margin: 0 3vw;
  display: grid;
  grid-template-areas:
    "... ..."
    "... gallery-image"
    "... ...";
  grid-template-columns: 8rem 21vmax;
	grid-template-rows: 8rem 28vmax 3rem;
}

.gallery__item:nth-child(even) {
  padding-top: 10vh;
}

.gallery__item-img {
  grid-area: gallery-image;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
	transform-origin: 50% 100%;
	border: solid black 1px;
}

.gallery__item-imginner {
  background-size: cover;
  background-position: 50% 0;
  width: 100%;
  height: 100%;
}

.gallery__item-caption {
  grid-area: 1 / 1 / 4 / 3;
  display: grid;
  grid-template-areas:
    "gallery-number gallery-title"
    "gallery-link ..."
    "gallery-link gallery-tags";
  grid-template-columns: 8rem auto;
  grid-template-rows: 8rem auto 3rem;
}

.gallery__item-number {
  grid-area: gallery-number;
  justify-self: end;
  padding-right: 2rem;
}

.gallery__item-title {
  grid-area: gallery-title;
  margin: 0;
}

.gallery__item-number,
.gallery__item-title,
.gallery__text {
  align-self: center;
}

.gallery__item-link {
  grid-area: gallery-link;
  align-self: end;
  background: var(--color-gallery-link-bg);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gallery__item-link:focus,
.gallery__item-link:hover {
  background: var(--color-gallery-link-bg-hover);
}

.gallery__item-tags {
  grid-area: gallery-tags;
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  cursor: pointer;
}

.gallery__text {
  margin: 0 10vw 0 14vw;
}

.gallery__text-inner {
  display: block;
}
